<h4>Question #{{id}}</h4>
<div class="form-group">
  <p class="control-label">{{question}} <span class="glyphicon glyphicon-exclamation-sign hide"></p>
  <form role="form">
    <ol>
    {{#each answers}}
      <li><input id="answer-{{@index}}" type="checkbox" value="{{@index}}"><label class="control-label" for="answer-{{@index}}">{{this}}</label></li>
    {{/each}}
    </ol>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>