<h4>Summary</h4>
<p>Hi, {{name}}, please find your answers report above.</p>
<hr/>
<h5>You scored {{formatPercentage score}}% in this quiz. {{result}}</h5>
<hr/>
<ol class="questions">
{{#each questions}}
  <li><div>For the question: <strong>{{question}}</strong></div>
    <ul class="answers">
      {{#each answers}}
        <li class="{{result.className}}">
          {{answer}} ({{formatPercentage result.percentage}}% of users chose this answer for question #{{../id}})
        </li>
      {{/each}}
    </ul>
  </li>
{{/each}}
</ol>
<hr/>
<h5>Thanks for your time!</h5>
<p>
  <button class="btn btn-primary" data-route="again">Do it again as yourself</button>
  <button class="btn btn-primary" data-route="">Do it again as another user</button>
</p>
