<h4>Summary</h4>
<p>Hi, {{name}}, please find your answers report above.</p>
<hr/>
<h5>You scored {{score}}% in this quiz. {{result}}</h5>
<hr/>
<ol class="questions">
{{#each questions}}
  <li><div>For the question #{{id}} - <strong>{{question}}</strong></div>
    <ul class="answers">
      {{#each answers}}
        <li class="{{result}}">{{answer}} ({{percentage}}% of users chose this answer)</li>
      {{/each}}
    </ul>
  </li>
{{/each}}
</ol>
<h5>Thanks for your time! <a href="/">Do it again!</a></h5>